nav a{
    margin:5px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
}

nav a:hover{
    margin:5px;
    color: #868686
}

nav{
    background-color: rgb(0, 0, 0);
    padding: 10px;
}
.active{
    background-color: #ffffff;
    color: #000
}