.navbar{
    display: flex;
    background-color: rgb(18, 18, 18);
    justify-content: space-between;
    align-items: center;
    padding:  1em;
   
}

.nav_links a{
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}



.navbar ul{
    display: flex;
    list-style: none;
}

.brand span{
    font-weight: 900;
    text-transform: uppercase;
    color: #ff9900;
}

.brand{
    color: #fff;
    text-decoration: none;
}


.active{
  
 
    
}