.navbar{
    display: flex;
    background-color: rgb(43, 43, 43);
    border-bottom: 3px solid rgb(252, 143, 0);
    justify-content: space-between;
    align-items: center;
    padding:  1em;
    color: #fff;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.brand span{
    font-weight: 900;
    text-transform: uppercase;
}