.contentStudents{
    display: flex;
   
    align-items: center;
    justify-content: center;
}
.students{
    width: 60%;
    border:1px solid #ccc;
    height: 50vh;
    margin: 10px 0 10px 10px;
    padding: 5px;
    border-radius: 3px;
}

.perfilStudent{
    width: 40%;
    border:1px solid #ccc;
    height: 50vh;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
}
.perfilStudent p, h3{
    margin:5px
}

.headerStudens{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between; 
    align-items: center;
    box-sizing: border-box;
    padding: 0 25px;
    font-size: 16px;
  
    background-color: rgb(241, 241, 241);
    
}

.headerStudens a{
    display: flex;
    width: 59px;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   font-size: 14px;
  
  
    
}

.actions{
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
}

.sudentDetail{
   
    margin-left: 15px;
}

.sudentDetail p{
   display: flex;
   align-items: center;
}

.sudentDetail span{
   color: #919191;
   margin-left: 5px;
   
 }

.students ul{
    list-style: none;
}

.students ul li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    padding: 10px 10px;
    border-top: 1px solid #f3f3f3;
}

.students ul a{
   text-decoration: none;
   color: rgb(117, 117, 117);
}


.students ul a:hover{
  color: rgb(0, 0, 0);
 }

 .perfil{
    display: flex;
    flex-direction: column;
 }

