.divForm form{
    width: 300px;
    border: 1px solid #ccc;
    margin: 15px auto;
    text-align: left;
    padding: 20px;
}
label, span{
    display: block;
}
.divForm input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(234, 234, 234);
    outline: none;
    margin-bottom: 5px;
}

.divForm .btn{
    background-color: #069;
    color: #fff;
    border:none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.form{
    margin-top:10px;
}

.form input{
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border:none;
    background-color: #e7e7e7;
}

.form .btn{
    background-color: rgb(250, 152, 4);
    color:#fff;
}