*{margin:0; padding: 0;}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

}
::placeholder{
  color: #cfcfcf;
  font-size: 15px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #069;
  padding: 20px;

  
}

.navbar span{
  
  display: flex;
  color:#fff;

  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
 
  
}
.navbar ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  
}

.navbar ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
 
  
}

.navbar a{

  color:#fff;
  text-decoration: none;
  margin: 0 10px;
}

form{
  width:100%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}
form span{
  font-weight: bold;
}

.search{
  width: 350px;
  margin: 0;
}

.searchForm{
  display: flex;
  width: 340px;
  align-items: center;
  margin: 0;
  padding: 0;
}
.searchInput{
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  
}

.btnSearch{
  width: 30px;
  height: 30px;
  font-size: 18px;
  border: 0;
  border-radius: 3px;
  margin-left: -35px;
  background-color: #069;
  color: #eee;

}

label{
  display: block;
  margin-bottom: 10px;
}

input{
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #eee;
  padding: 10px;
  outline: none;
  border-radius: 3px;


}

span{
  display: block;

}

.btn{
  width: 100%;
  height:50px;
  border:none;

  background-color: rgb(0, 153, 74);
  color:#fff;
  font-weight: bold;
  margin-top: 20px;
}

/* ERROR */

.error{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: rgb(255, 0, 0);
  color: #fff;
  margin-top: 20px;
  padding: 5px;
  text-align: center;

}



