.contentRegisterStudent{
    display: flex;
    justify-content: space-between;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form form{
    width: 40%;
}

.form h1{
    text-align: center;
    margin-top: 50px;
   
}